table {
	border: 0px solid #dddddd;
	padding: 0px;
	spacing: 0px;
}

#view_table {
	width: 80%;
}

td a {
	text-decoration: none;
}

table th {
	border: 1px solid #aaaaaa;
	padding: 2px 2px 2px 2px;
	background: #B8BBBE;
	color: black;
	align: center;
	font-family: arial;
}

td {
	font-family: arial;
}
